/* remove padding bootstrap */
.no-gutter > [class*="col-"] {
	padding-right: 0;
	padding-left: 0;
}

.item .card .card-body {
	padding: 0 3rem;
}

.item .container .row {
	display: flex;
	flex-wrap: wrap;
}

.item .card .card-body .icon {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	height: 4rem;
	width: 4rem;
	font-size: 2rem;
	transform: translateY(-30px);
}
